# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/
bin/
obj/

# NuGet
*.nupkg
**/packages/*
*.nuget.props
*.nuget.targets

# CDK
cdk.out/
node_modules/

# Publish output
**/publish/

# AWS
.aws-sam/

# Secrets
**/appsettings.Development.json
**/.env
*.pfx

# OS files
.DS_Store
Thumbs.db
desktop.ini

# IDE
*.swp
*.swo
*~
.idea/
*.code-workspace

# Logs
*.log